

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #14213d;
    background: white;
}

/* HEAD */
header{
    
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 99;
    background: transparent;
    transition: all 0.3s ease;
    

}

/* header.scrolled{
    background: white;
} */


#head{
    display: flex;
    justify-content: space-between;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    background: white;
    padding: 20px 140px;
    h2{
        font-weight: 800;
    }

    
    
}

.head1 {
    display: flex;
    font-size: 20px;
    gap: 20px;
    
    font-weight: 600;
    text-decoration: none;
    
    align-items: center;
    a{
        text-decoration: none;
        color: #987777;
        
        border: 2px solid transparent ;
        padding:  10px 15px;
        border-radius: 10px;
        
    }

    h3{
       margin-top: 10px;
    }
    
    .getStart {
        background: rgb(48, 48, 231);
        color: white;
        width: 155px;
        height: 50px;
        font-weight: 900;
        border-radius: 12px;
        font-size: 17px;
        font-family: var(--n-font-display);
    }

}
.head1 a:hover{
    /* padding: 10px; */
    
    color: black;
    border: 2px solid transparent ;
    border-radius: 10px;
    background: #F1F1FF;
}



.hero {
    height: 270px;
    background: linear-gradient(
        135deg,
        #101d40,
        #18274d
    );


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}


.hero h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
    color: white;
}

.khali{
    height: 300px;
}

/* footer */

.site-footer{
    position: relative;
    width: 100%;
    padding: 45px 6% 18%;
     background:
        linear-gradient(
            110deg,
            #071a3d,
            #102957 55%,
            #172347
        );
        color: white;

 }
 .footer-main{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
     grid-template-columns:
        1.4fr
        0.7fr
        1fr
        1.4fr;

    gap: 45px;
}

 .footer-brand h3 {
    margin: 0 0 12px;

    font-size: 18px;

    font-weight: 800;

    color: white;
}

footer-brand p {
    max-width: 300px;

    margin: 0;

    color: #b9c5d9;

    font-size: 15px;

    line-height: 1.5;
}

social-links {
    display: flex;

    align-items: center;

    gap: 8px;

    margin-top: 11px;
}


.social-links a {
    width: 28px;
    height: 28px;

    display: flex;

    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: #d2dbea;

    font-size: 13px;

    border-radius: 5px;

    transition: 0.2s;
}
.social-links a:hover {
    background: rgba(255,255,255,0.1);

    color: white;
}
.footer-links {
    display: flex;

    flex-direction: column;

    gap: 13px;
}

.footer-links h4,
.footer-newsletter h4 {
    margin: 0 0 12px;

    color: white;

    font-size: 13px;

    font-weight: 800;

    letter-spacing: 1px;
}


.footer-links a {
    color: #b9c5d9;

    text-decoration: none;

    font-size: 14px;

    transition: 0.2s;
}


.footer-links a:hover {
    color: white;
}

.footer-newsletter p {
    max-width: 330px;

    margin: 0 0 20px;

    color: #b9c5d9;

    font-size: 14px;

    line-height: 1.65;
}




.email-box {
    width: 100%;

    max-width: 330px;

    height: 43px;

    display: flex;

    overflow: hidden;

    border-radius: 6px;

    background: rgba(255,255,255,0.10);

    border: 1px solid rgba(255,255,255,0.12);
}


.email-box input {
    flex: 1;

    min-width: 0;

    padding: 0 14px;

    border: none;

    outline: none;

    background: transparent;

    color: white;

    font-size: 13px;
}


.email-box input::placeholder {
    color: #8998b3;
}


.email-box button {
    width: 55px;

    border: none;

    background: #3580dc;

    color: white;

    cursor: pointer;

    font-size: 17px;

    transition: 0.2s;
}


.email-box button:hover {
    background: #4b91e8;
}


.site-footer {
    width: 100%;
    padding: 45px 6% 18px;

    background: linear-gradient(
        110deg,
        #071a3d,
        #102957 55%,
        #172347
    );

    color: white;
}


.footer-main {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1.4fr 0.7fr 1fr 1.4fr;

    gap: 45px;
}


.footer-brand h3 {
    margin: 0 0 12px;
    font-size: 18px;
}

.footer-brand p {
    max-width: 300px;

    margin: 0;

    font-size: 13px;
    line-height: 1.5;

    color: #b9c5d9;
}


.social-links {
    display: flex;
    gap: 8px;

    margin-top: 14px;
}

.social-links a {
    width: 25px;
    height: 25px;

    font-size: 11px;
}


.footer-links h4,
.footer-newsletter h4 {
    margin: 0 0 13px;

    font-size: 12px;
}


.footer-links {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-links a {
    font-size: 13px;
}

.footer-newsletter p {
    max-width: 300px;

    margin: 0 0 13px;

    font-size: 13px;
    line-height: 1.5;
}

.email-box {
    max-width: 300px;
    height: 38px;
}

.email-box input {
    font-size: 12px;
}

.email-box button {
    width: 45px;
}


.footer-bottom {
    max-width: 1200px;

    margin: 35px auto 0;

    padding-top: 16px;
}

.footer-bottom p {
    font-size: 10px;
}

.footer-policy {
    gap: 20px;
}

.footer-policy a {
    font-size: 10px;
}

.back-top {
    right: 25px;
    bottom: 18px;

    width: 34px;
    height: 34px;

    font-size: 15px;
}


.khali{
    height: 300px;
}

/* footer */

.site-footer{
    position: relative;
    width: 100%;
    padding: 45px 6% 18%;
     background:
        linear-gradient(
            110deg,
            #071a3d,
            #102957 55%,
            #172347
        );
        color: white;

 }
 .footer-main{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
     grid-template-columns:
        1.4fr
        0.7fr
        1fr
        1.4fr;

    gap: 45px;
}

 .footer-brand h3 {
    margin: 0 0 12px;

    font-size: 18px;

    font-weight: 800;

    color: white;
}

footer-brand p {
    max-width: 300px;

    margin: 0;

    color: #b9c5d9;

    font-size: 15px;

    line-height: 1.5;
}

social-links {
    display: flex;

    align-items: center;

    gap: 8px;

    margin-top: 11px;
}


.social-links a {
    width: 28px;
    height: 28px;

    display: flex;

    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: #d2dbea;

    font-size: 13px;

    border-radius: 5px;

    transition: 0.2s;
}
.social-links a:hover {
    background: rgba(255,255,255,0.1);

    color: white;
}
.footer-links {
    display: flex;

    flex-direction: column;

    gap: 13px;
}

.footer-links h4,
.footer-newsletter h4 {
    margin: 0 0 12px;

    color: white;

    font-size: 13px;

    font-weight: 800;

    letter-spacing: 1px;
}


.footer-links a {
    color: #b9c5d9;

    text-decoration: none;

    font-size: 14px;

    transition: 0.2s;
}


.footer-links a:hover {
    color: white;
}

.footer-newsletter p {
    max-width: 330px;

    margin: 0 0 20px;

    color: #b9c5d9;

    font-size: 14px;

    line-height: 1.65;
}




.email-box {
    width: 100%;

    max-width: 330px;

    height: 43px;

    display: flex;

    overflow: hidden;

    border-radius: 6px;

    background: rgba(255,255,255,0.10);

    border: 1px solid rgba(255,255,255,0.12);
}


.email-box input {
    flex: 1;

    min-width: 0;

    padding: 0 14px;

    border: none;

    outline: none;

    background: transparent;

    color: white;

    font-size: 13px;
}


.email-box input::placeholder {
    color: #8998b3;
}


.email-box button {
    width: 55px;

    border: none;

    background: #3580dc;

    color: white;

    cursor: pointer;

    font-size: 17px;

    transition: 0.2s;
}


.email-box button:hover {
    background: #4b91e8;
}


.site-footer {
    width: 100%;
    padding: 45px 6% 18px;

    background: linear-gradient(
        110deg,
        #071a3d,
        #102957 55%,
        #172347
    );

    color: white;
}


.footer-main {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1.4fr 0.7fr 1fr 1.4fr;

    gap: 45px;
}


.footer-brand h3 {
    margin: 0 0 12px;
    font-size: 18px;
}

.footer-brand p {
    max-width: 300px;

    margin: 0;

    font-size: 13px;
    line-height: 1.5;

    color: #b9c5d9;
}


.social-links {
    display: flex;
    gap: 8px;

    margin-top: 14px;
}

.social-links a {
    width: 25px;
    height: 25px;

    font-size: 11px;
}


.footer-links h4,
.footer-newsletter h4 {
    margin: 0 0 13px;

    font-size: 12px;
}


.footer-links {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-links a {
    font-size: 13px;
}

.footer-newsletter p {
    max-width: 300px;

    margin: 0 0 13px;

    font-size: 13px;
    line-height: 1.5;
}

.email-box {
    max-width: 300px;
    height: 38px;
}

.email-box input {
    font-size: 12px;
}

.email-box button {
    width: 45px;
}


.footer-bottom {
    max-width: 1200px;

    margin: 35px auto 0;

    padding-top: 16px;
}

.footer-bottom p {
    font-size: 10px;
}

.footer-policy {
    gap: 20px;
}

.footer-policy a {
    font-size: 10px;
}

.back-top {
    right: 25px;
    bottom: 18px;

    width: 34px;
    height: 34px;

    font-size: 15px;
}