 /* *{
    background: #ede7e7;
} */


/* h1{
    background: #eeeaea;
}

/* .head{
    background: #c4727f;
} */

/* .field{
    background-color: rgb(212, 135, 137);
}

.field1{
    background-color: rgb(243, 157, 238);
}

.field2{
    background-color: rgb(240, 199, 238);
}

.field3{
    background-color: rgb(221, 163, 218);
}

.field4{
    background-color: rgb(232, 152, 228);
}

.field5{
    background-color:  rgb(214, 69, 207);
}  */

.head{
    background:rgb(235, 225, 207);
    color: orange;
    width: 500px;
    height: auto;
    scrollbar-width: auto;
}