 /* *{
    background: #ede7e7;
} */


/* h1{
    background: #eeeaea;
}

/* .head{
    background: #c4727f;
} */

/* .field{
    background-color: rgb(212, 135, 137);
}

.field1{
    background-color: rgb(243, 157, 238);
}

.field2{
    background-color: rgb(240, 199, 238);
}

.field3{
    background-color: rgb(221, 163, 218);
}

.field4{
    background-color: rgb(232, 152, 228);
}

.field5{
    background-color:  rgb(214, 69, 207);
}  */

/* .head{
    background:rgb(235, 225, 207);
    color: orange;
    width: 500px;
    height: auto;
    scrollbar-width: auto;
} */

*{
    margin: 0%;
    padding: 0%;

}

h1{
    color: brown;
    text-align: center;
    /* border: 1px solid;
    border-color: black; */
    margin: 20px 20px;

}

.head1 {
    background: #a1d5e9;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    
}

.head2 {
    display: flex;
    
    gap: 25px;
}

.about-me{
    
    text-align: center;
    margin: 30px 20px;

   .ab{
        font-size: xx-large;
    }
    
    .p-about{
    
        margin: 10px 440px;
        width: 600px;
        font-size: large;
    } 
}

.project{
    text-align: center;
    font-size: xx-large;
    margin: 40px 20px;

    .img{
        margin: 10px;
    }
}
