*{
    background: #aab5a8;
}


h1{
    color: rgba(139, 125, 0, 0.459);
}

.kuchbhi{
    background: #08c19f;
}
.kuchbhi{
    color: blue;
}

#Submitbutton{
     color: blueviolet; /*only word */
}

#Submitbutton{
    background-color: #b3c87c;
}

.para{
    color: darkblue;
}



